// contact
#contact {
  padding: 5em 0 0 0;
}

.email {
  border: 2px solid #4d4d4d;
  color: #4d4d4d;
  display: block;
  font-size: 1.2em;
  margin: 2em auto 1em;
  max-width: 450px;
  opacity: .7;
  padding: 15px 8px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  width: 85%;

  &:hover {
    opacity: 1;
  }

  @media all and (min-width: $secondMedia) {
    font-size: 2em;
  }
}

.social {
  margin: auto;
  text-align: center;

  a {
    text-decoration: none;
  }
  img {
    width: 55px;

    @media all and (min-width: $secondMedia) {
      width: 65px;
    }
  }
}

.social-link {
  border: 3px solid #fff;
  border-radius: 100%;
  display: inline-block;
  margin: 0 .5em;
  opacity: .7;
  padding: 3px;
  transition: 0.3s;

  &:hover {
    border-color: #4d4d4d;
    opacity: 1;
  }
}
