// footer
footer {
  background-color: #d1d1d1;
  margin-top: 5em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-content {
  color: $fontColor;
  font-size: .6em;

  a {
    color: $fontColor;
    transition: .5s;

    &:hover {
      color: $mainColor;
    }
  }

  @media all and (min-width: $firstMedia) {
    font-size: 100%;
  }
}

// social links
.social {
  margin: 2em auto 0;
  text-align: center;

  a {
    text-decoration: none;
  }
  img {
    width: 55px;

    @media all and (min-width: $secondMedia) {
      width: 65px;
    }
  }
}

.social-link {
  border: 3px solid #d1d1d1;
  border-radius: 100%;
  display: inline-block;
  margin: 0 .3em;
  opacity: .7;
  padding: 3px;
  transition: 0.3s;

  &:hover {
    border-color: #4d4d4d;
    opacity: 1;
  }

  @media all and (min-width: $firstMedia) {
    margin: 0 .6em;
  }

  @media all and (min-width: $secondMedia) {
    margin: 0 1.2em;
  }
}
