<!doctype html>

<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Ubuntu:700%7COpen+Sans%7CRaleway' rel='stylesheet'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% if dev %}
      <link rel="stylesheet" href="static/styles/main.css">
      <script src="static/js/main.js"></script>
    {% else %}
      <link rel="stylesheet" href="static/main.min.css">
      <script src="static/main.min.js"></script>
    {% endif %}
  </head>
  <body>
    {% block main %}{% endblock %}
    <footer class="clearfix">
      <p class="footer-content float-left">Copyright © 2015 Alex Baker</p>
      <p class="footer-content float-right">Site source <a href="//github.com/ab7/alexbakerio" target="_blank">here</a>.</p>
    </footer>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-52532798-1');ga('send','pageview');
    </script>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </body>
</html>
