{% extends '_base.html' %}

{% block main %}
  <div class="blog-main">
    <div class="post">
      <h1>Full Stack Web Development - Python Resources</h1><span class="date">April 4, 2015</span>

      <p>Web development is an exciting space to be in right now. Creating high quality, fully featured web applications is becoming more and more accessible. Understanding how everything works in a web stack is essential for fast and enjoyable development. Even if you decide you want to specialize in a specific aspect of the stack (design, front end, UI, UX, back end, DevOps, etc) a basic understanding of the stack in its entirety will benefit you greatly.</p>

      <h2>What does full stack web development mean?</h2>

      <p>What "full stack" means in todays culture is hotly <a href="http://www.sitepoint.com/full-stack-developer">debated</a>. Each aspect of the basic stack can be broken down into smaller stacks. Eventually you might specialize in one of the smaller stacks, or even a specific technology from one of the smaller stacks. Python falls into the back end of the stack, the "Server Side Code". The purpose of a server side language is to process logic and spit it out to the user.</p>

      <h2>Why Python?</h2>

      <p>With the insane number of technology stacks available for web development, a question I get asked a lot is, "Why did you choose Python?". Honestly, simply because it was mentioned to me. A developer was explaining programming to me years ago, and the only thing I remembered from that conversation was this thing called Python. So naturally, its the first technology I looked up. With my limited knowledge of programming at the time, I was sold on its general purpose nature and design philosophy.</p>

      <p>I don't really believe one language is "better" than another. Each has its own strengths and weaknesses based on the problem that needs to be solved. Python happens to be a well supported, multi-purpose language with many pluggable options for web development.</p>

      <h3>Important note!</h3>

      <p>I was not working in the tech industry at the time I choose Python, so it wasn't important what language I started with. If you're in a position where the company you work at uses specific technologies. I highly recommend you start with those instead of arbitrarily picking something.</p>

      <h2>Python Resources</h2>

      <p>Arguably if you successfully learn a skill with a set of materials, you will be biased towards those materials. So its not my intention to say these are the only qualified options for learning Python or web development in general. More like a curated list of resources I've personally found beneficial. These resources focus on learning the Python language itself, not the frameworks or libraries surrounding it.</p>

      <h3>Learn Python the Hard Way by Zed Shaw</h3>

      <p>This was the first resource I decided to pick up when I decided to check out programming. You get thrown right into the fire, no IDE, just command line and text editor. One of the assignments involves <a href="http://learnpythonthehardway.org/book/ex45.html">making a game</a>. This was the first functioning program I wrote in Python, a text based game called DZERO. You can see the hilariously terrible code <a href="https://github.com/ab7/dzero">here</a>.</p>

      <p><a href="http://learnpythonthehardway.org/"><a href='http://learnpythonthehardway.org/'>http://learnpythonthehardway.org/</a></a></p>

      <h3>Udacity - Computer Science 101</h3>

      <p>After hearing about MOOCs (Massively Open Online Course) on a podcast, I checked out the Udacity Computer Science 101 course. The course utilizes Python to cover basic programming principles. You actually end up creating a search engine which I found to be pretty fun! At the time it was totally free, I believe you can pay a monthly fee now to have a more personal experience.</p>

      <p><a href="https://www.udacity.com/course/cs101"><a href='https://www.udacity.com/course/cs101'>https://www.udacity.com/course/cs101</a></a></p>

      <h3>Udacity - Web Development</h3>

      <p>This course is taught by <a href="http://en.wikipedia.org/wiki/Steve_Huffman">Steve Huffman</a>, the founder of <a href="http://www.reddit.com/">Reddit</a>! I really enjoying hearing his anecdotes about getting Reddit off the ground. The course uses Google App Engine along with the Python SDK to guide you through building a blog.</p>

      <p><a href="https://www.udacity.com/course/cs253"><a href='https://www.udacity.com/course/cs253'>https://www.udacity.com/course/cs253</a></a></p>

      <h3>Project Euler</h3>

      <p>While I think online learning solutions like <a href="https://www.codeschool.com/">Codeschool</a> or <a href="http://teamtreehouse.com/">Treehouse</a> are great introductions to specific topics, I find a much richer experience in solving code problems. Project Euler is a set of math based problems that you can solve in any language. The languages you know are not nearly as important as understanding the logic that drives them. If you want to learn a new language I encourage you to check out problem based learning challenges like Project Euler.</p>

      <p><a href="https://projecteuler.net/"><a href='https://projecteuler.net/'>https://projecteuler.net/</a></a></p>

      <h3>Hackerrank</h3>

      <p>Like Project Euler, Hackerrank is a problem driven learning tool available in many languages. You get to code your solutions in a web based text editor and run it through a series of tests before submitting. The problem spaces include Algorithms, Functional Programming, Artificial Intelligence and Linux Shell. I can't emphasize enough how much more enjoyable it is to learn by solving problems verses running through tutorials.</p>

      <p><a href="https://www.hackerrank.com/"><a href='https://www.hackerrank.com/'>https://www.hackerrank.com/</a></a></p>

      <h3>Exercism.io</h3>

      <p>This variation of Project Euler and Hackerrank also lets you solve the problems in a variety of languages. What Exercism brings to the table is nitpicking. Basically you submit your first iteration of the problem, where it will be open to the community to make suggestions (nitpick). You can then keep submitting iterations until satisfied with the result. I really like the community driven approach to the coding challenge realm.</p>

      <p><a href="http://exercism.io/"><a href='http://exercism.io/'>http://exercism.io/</a></a></p>

      <h2>Framework Resources</h2>

      <p>Referring the the pluggable nature of Python I mentioned earlier, some popular frameworks exist to expedite the construction of a new web application. <a href="http://flask.pocoo.org/">Flask</a> comes to mind for smaller projects. If you're interested in more features and a bigger community, check out <a href="https://www.djangoproject.com/">Django</a>. <a href="http://www.fullstackpython.com/">Full Stack Python</a> has an awesome list of tutorials for both Flask and Django.</p>

      <p><a href="http://www.fullstackpython.com/flask.html"><a href='http://www.fullstackpython.com/flask.html'>http://www.fullstackpython.com/flask.html</a></a><br /><a href="http://www.fullstackpython.com/django.html"><a href='http://www.fullstackpython.com/django.html'>http://www.fullstackpython.com/django.html</a></a></p>

      <h2>Conclusion</h2>

      <p>In my next post, I'll explore some front end resources I use. After that I'll dive into where and how I deploy web applications.</p>
    </div>
  </div>
{% endblock %}
