{% extends '_base.html' %}

{% block main %}
  <div id="top">
    <div class="introduction">
      <div class="introBK"></div>
      <div class="hello">
        Hello!
      </div>
      <div class="intro">
        <div class="welcome">Welcome to my portfolio site!</div> I’m a <strong>full stack web developer</strong> and <a href="http://www.alexbakersax.com" target="_blank">musician</a>. You can check out some of my side <a href="#projects">projects</a>  below. Check out the <a href="/blog">blog</a> for my latest thoughts on tech. I’m always interested in working on exciting projects, so feel free to <a href="#contact">contact</a> me if you want to talk!
      </div>
    </div>
  </div>
  <div id="contact">
    <h3 class="section-title">Contact</h3>
    <a class="email" href="mailto:hello@alexbaker.io">hello@alexbaker.io</a>
    <div class="social">
      <a href="//github.com/ab7" target="_blank">
        <img class="social-link" src=static/img/github-logo.png alt=github logo>
      </a>
      <a href="//plus.google.com/u/0/116483157797299917604/posts" target="_blank">
        <img class="social-link" src="static/img/google-plus-logo.png" alt="google" plus logo>
      </a>
      <a href="//twitter.com/alexbakerio" target="_blank">
        <img class="social-link" src="static/img/twitter-logo.png" alt="twitter" logo>
      </a>
      <a  href="//www.linkedin.com/in/alexbakerio" target="_blank">
        <img class="social-link" src="static/img/linkedin-logo.png" alt="linkedin" logo>
      </a>
    </div>
    <footer class="clearfix">
      <p class="footer-content float-left">Copyright © 2015 Alex Baker</p>
      <p class="footer-content float-right">Site source <a href="//github.com/ab7/alexbakerio" target="_blank">here</a>.</p>
    </footer>
  </div>
{% endblock %}
