{% extends '_base.html' %}

{% block main %}
  <header>
    <div class="logo-container">
      <div class="hello">
      Hello!
      </div>
      <img class="logo-big" src="static/img/alex-baker-logo.png" alt="Alex Baker's logo">
    </div>
    <div class="cta-container">
      <div class="cta">
        I'm currently looking for full-time <strong>web development</strong> opportunities!
      </div>
      <a class="email hvr-wobble-horizontal" href="mailto:hello@alexbaker.io">Shoot me an email!</a>
    </div>
    <nav class="nav-normal">
      <div class="main">
        <div class="nav-name">
          <a class="top-link" href="#top">
            <img class="logo-small" src="static/img/alex-baker-logo-sm.png" alt="Alex Baker's logo">
          </a>
        </div>
        <a class="nav-link active" href="/">About</a>
        <a class="nav-link" href="/projects.html">Projects</a>
        <a class="nav-link" href="/blog/blog.html">Blog</a>
        <a class="nav-link-resume" href="/static/Alex_Baker_Resume.pdf" target="_blank">Resume</a>
      </div>
    </nav>
  </header>
  <div id="top">
    <div class="introduction">
      <div class="introBK"></div>
      <img class="headshot" src="static/img/alex_baker.png" alt="Alex Baker">
      <div class="intro">
        <div class="welcome">Welcome to my portfolio site!</div> I’m a <strong>full stack web developer</strong> and <a href="http://www.alexbakersax.com" target="_blank">musician</a>. You can see some <a href="#projects">projects</a> I've worked on or check out the <a href="/blog">blog</a> for my latest thoughts on tech. I’m always interested in working on exciting projects, so feel free to <a href="#contact">contact</a> me if you want to talk!
      </div>
    </div>
  </div>
  <div id="contact">
    <h3 class="section-title">Contact</h3>
    <a class="email" href="mailto:hello@alexbaker.io">hello@alexbaker.io</a>
    <div class="social">
      <a href="//github.com/ab7" target="_blank">
        <img class="social-link" src=static/img/github-logo.png alt=github logo>
      </a>
      <a href="//plus.google.com/u/0/116483157797299917604/posts" target="_blank">
        <img class="social-link" src="static/img/google-plus-logo.png" alt="google" plus logo>
      </a>
      <a href="//twitter.com/alexbakerio" target="_blank">
        <img class="social-link" src="static/img/twitter-logo.png" alt="twitter" logo>
      </a>
      <a  href="//www.linkedin.com/in/alexbakerio" target="_blank">
        <img class="social-link" src="static/img/linkedin-logo.png" alt="linkedin" logo>
      </a>
    </div>
  </div>
{% endblock %}
