{% extends '_base.html' %}

{% block main %}

  <div id="projects">
    <h3 class="section-title">Projects</h3>
    <ul class="project-nodes">
      <li>
        <figure>
          <img src="static/img/rbhomesco.png" alt="rbhomes real estate website">
          <figcaption>
            <a href="http://www.rbhomes.co" target="_blank">Take a look</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="static/img/sax-lessons.png" alt="Saxophone Lessons">
          <figcaption>
            <a href="http://www.alexbakersax.com" target="_blank">Take a look</a>
            <a href="//github.com/ab7/sax-lessons" target="_blank">Source</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="static/img/twitter-visualization.png" alt="Twitter Visualation">
          <figcaption>
            <a href="http://api-hack.appspot.com" target="_blank">Take a look</a>
            <a href="//github.com/ab7/tweet-location-visualization" target="_blank">Source</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="static/img/hot-or-cold.png" alt="Hot or cold number game">
          <figcaption>
            <a href="//ab7.github.io/hot-or-cold" target="_blank">Take a look</a>
            <a href="//github.com/ab7/hot-or-cold" target="_blank">Source</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="static/img/mylist.png" alt="Mylist list making app">
          <figcaption>
            <a href="//ab7.github.io/mylist" target="_blank">Take a look</a>
            <a href="//github.com/ab7/mylist" target="_blank">Source</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="static/img/music-theory-quiz.png "alt="Music Theory Quiz">
          <figcaption>
            <a href="//ab7.github.io/music-theory-quiz" target="_blank">Take a look</a>
            <a href="//github.com/ab7/music-theory-quiz" target="_blank">Source</a>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>

{% endblock %}
