// color scheme
$mainColor: #BD10E0;
$mainColorDark: #be3535;
$mainColorOpposite: #3CCC3C;
$altColor: #FF9D4B;
$altColorOpposite: #2D9999;
$borderColor: #e0e0e0;
$fontColor: #505050;

// fonts
$titleFont: 'bebas_neueregular';
$contentFont: 'Source Sans Pro';

// media queriy break points
$firstMedia: 640px;
$secondMedia: 768px;
$maxWidth: 900px;

// global styles
html {
  height: 100%;
}

body {
  font-family: $contentFont;
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 13em;
}

.main {
  margin: 0 auto;
  max-width: $maxWidth;
  overflow: hidden;
  width: 90%;
}

h1 {
  color: $mainColor;
  font-family: $titleFont;
  font-size: 3em;
}

h2 {
  margin-top: 0;
  margin-bottom: 5px
}

h4 {
  color: $fontColor;
  font-size: 1.5em;
  margin: 0;

  @media all and (min-width: $firstMedia) {
    font-size: 2em;
  }
}

a, a:visited {
  color: $mainColor;
}
