// color scheme
$mainColor: #F16F4F;
$mainColorDark: #be3535;
$mainColorOpposite: #3CCC3C;
$altColor: #FF9D4B;
$altColorOpposite: #2D9999;
$borderColor: #e0e0e0;
$fontColor: #505050;
$preColor: #505050;
$preBackgroundColor: #d8d8d8;

// fonts
$titleFont: 'bebas_neueregular';
$contentFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;

// media queriy break points
$firstMedia: 640px;
$secondMedia: 768px;
$maxWidth: 900px;

// global styles
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $fontColor;
  font-family: $contentFont;
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 13em;
}

.main {
  margin: 0 auto;
  max-width: $maxWidth;
  width: 90%;
}

h1 {
  color: $mainColor;
  font-family: $titleFont;
}

h2 {
  margin-top: 0;
  margin-bottom: 5px
}

h4 {
  color: $fontColor;
  font-size: 1.5em;
  margin: 0;

  @media all and (min-width: $firstMedia) {
    font-size: 2em;
  }
}

a, a:link, a:visited {
  color: $mainColor;
}
