// above the fold
#atfWrapper {
  background: url('/static/img/space-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px; // old browser fallback
  height: 100vh;
  position: relative;
  min-height: 480px;

  @media all and (min-width: $thirdMedia) {
    min-height: 620px;
  }
}

// title
header {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

// nav and link buttons
nav {
  background-image: linear-gradient(to top, #000 0%, #4a4a4a 100%);
  bottom: 0;
  box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.stickyNav {
  bottom: auto;
  position: fixed;
  top: 0;
}

.navButton {
  background: #333;
  border: 3px solid $mainColor;
  border-radius: 100%;
  color: $mainColor;
  display: inline-block;
  font: .8em $titleFont;
  height: $navButtonSize;
  margin: .5em 0;
  outline: none;
  padding-top: 1.6em;
  text-align: center;
  text-decoration: none;
  transition: 1s;
  vertical-align: center;
  width: $navButtonSize;

  &:hover {
    border-color: #fff;
    color: #fff;
  }

  @media all and (min-width: $firstMedia) {
    margin: .6em 1em;
  }
  @media all and (min-width: $thirdMedia) {
    margin: .6em 2em;
  }
}

.topLink {
  color: $mainColor;
  display: none;
  font: 1.7em 'undercoverregular';
  height: 100%;
  padding-top: .45em;
  text-align: center;
  text-decoration: none;
  transition: 1s;
  vertical-align: top;

  span {
    display: block;
  }

  &:hover {
    border-color: #fff;
    color: #fff;
  }
}

.blogButton {
  @extend .navButton;
  background: #fff;
  border: 5px solid $mainColorDark;
  border-bottom-right-radius: 0;

  &:hover {
    background-color: $mainColor;
  }
}

.skillsButton {
  @extend .navButton;
  border-top-left-radius: 0;
}

.projectsButton {
  @extend .navButton;
  border-bottom-right-radius: 0;
}

.contactButton {
  @extend .navButton;
  border-top-right-radius: 0;
}
