// above the fold
#atfWrapper {
  background: #5a5a5a;
  height: 600px; // old browser fallback
  height: 100vh;
  position: relative;
  min-height: 480px;

  @media all and (min-width: $thirdMedia) {
    min-height: 620px;
  }
}

// title
header {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

// nav and link buttons
nav {
  background-color: #333;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.navButton {
  background: #333;
  border: 3px solid $mainColor;
  border-radius: 100%;
  color: $mainColor;
  display: inline-block;
  font: .8em $titleFont;
  height: $navButtonSize;
  margin: .5em 0;
  outline: none;
  padding-top: 1.6em;
  text-align: center;
  text-decoration: none;
  transition: 1s;
  vertical-align: center;
  width: $navButtonSize;

  &:hover {
    border-color: #fff;
    color: #fff;
  }

  @media all and (min-width: $firstMedia) {
    margin: .6em 1em;
  }
  @media all and (min-width: $thirdMedia) {
    margin: .6em 2em;
  }
}

.blogButton {
  @extend .navButton;
  background: #fff;
  border: 5px solid $mainColorDark;
  border-bottom-right-radius: 0;

  &:hover {
    background-color: $mainColor;
  }
}

.skillsButton {
  @extend .navButton;
  border-top-left-radius: 0;
}

.projectsButton {
  @extend .navButton;
  border-bottom-right-radius: 0;
}

.contactButton {
  @extend .navButton;
  border-top-right-radius: 0;
}
