// contact
.email {
  border: 2px solid $fontColor;
  color: $fontColor;
  display: block;
  font-size: 2em;
  padding: 15px 8px;
  text-decoration: none;
}

.socialWrapper {
  position: relative;
}

.socialLink {
  filter: grayscale(100%);
  position: absolute;
}

.githubLink {
  @extend .socialLink;
  top: $githubT;
  left: $githubL;
}

.googlePlusLink {
  @extend .socialLink;
  top: $githubT;
  left: $githubL + 6;
}

.twitterLink {
  @extend .socialLink;
  top: $githubT;
  left: $githubL + 12;
}

.linkedinLink {
  @extend .socialLink;
  top: $githubT;
  left: $githubL + 17;
}

// footer
footer {
  background-color: #cbcbcb;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footerContent {
  font-size: .6em;
  padding: 10px 25px;
}
