// text styles
h1 {
  color: #fff;
  font: 3em $sectionTitleFont, sans-serif;
  text-shadow: 2px 2px 0px #333;
}

h2 {
  color: $mainColor;
  font: 3em $sectionTitleFont;
  padding-left: 25px;
  text-align: center;
}

h3 {
  color: $mainColor;
  text-align: center;
}

p {
  color: $fontColor;
  text-align: center;
}

body {
  overflow-x: hidden;

  @media all and (min-width: $firstMedia) {
    font-size: 130%;
  }
  @media all and (min-width: $secondMedia) {
    font-size: 140%;
  }
}
