// custom fonts
@font-face {
  font-family: 'undercoverregular';
  src: url('/static/fonts/undercover-webfont.eot');
  src: url('/static/fonts/undercover-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/undercover-webfont.woff2') format('woff2'),
       url('/static/fonts/undercover-webfont.woff') format('woff'),
       url('/static/fonts/undercover-webfont.ttf') format('truetype'),
       url('/static/fonts/undercover-webfont.svg#undercoverregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// text styles
h1 {
  color: #fff;
  font: 3em $sectionTitleFont, sans-serif;
  text-shadow: 2px 2px 0px #333;
}

h2 {
  color: $mainColor;
  font: 2.1em 'undercoverregular';
  text-align: center;

  @media all and (min-width: $firstMedia) {
    font-size: 260%;
  }
  @media all and (min-width: $secondMedia) {
    font-size: 360%;
  }
}

h3 {
  color: $mainColor;
  text-align: center;
}

p {
  color: $fontColor;
  text-align: center;
}

body {
  overflow-x: hidden;

  @media all and (min-width: $firstMedia) {
    font-size: 130%;
  }
  @media all and (min-width: $secondMedia) {
    font-size: 140%;
  }
}
