// text styles
h1 {
  color: #fff;
  font: 3em $titleFont, sans-serif;
  text-shadow: 1px 2px 0px $borderColor;
  transform: rotate(-45deg);
  position: absolute;
  left: 20%;
  top: 12%
}

h2 {
  color: $mainColor;
  font: 3em $sectionTitleFont;
  padding-left: 25px;
  text-align: center;
}

h3 {
  color: $mainColor;
  text-align: center;
}

p {
  color: $fontColor;
  text-align: center;
}

body {
  @media all and (min-width: $firstMedia) {
    font-size: 120%;
  }
  @media all and (min-width: $secondMedia) {
    font-size: 140%;
  }
}
