// login form
.login {
  border-radius: 5px;
  margin: 3em auto;
  overflow: hidden;
  width: 300px;

  input {
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    margin: 0;
  }

  label {
    color: #395870;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.button {
  background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 16px;
  width: 100%;
}

.error {
  background: #f0d6d6;
  padding: 0.5em;
}


