// projects
#projectsWrapper {
  background-color: #e3e3e3;
  padding: 1em 0 2em;
}

// project nodes
.projectNodes {
  @media all and (min-width: $thirdMedia) {
    margin: auto;
    width: 920px;
  }
}

.projectNode {
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid $mainColor;
  border-radius: 100%;
  height: $nodeSize;
  margin: 2em auto;
  width: $nodeSize;

  @media all and (min-width: $thirdMedia) {
    display: inline-block;
    margin-left: 4em;
  }
}

.projectNode--1 {
  @extend .projectNode;
  background-image: url('/static/img/sax-lessons.png');
}

.projectNode--2 {
  @extend .projectNode;
  background-image: url('/static/img/tweet-location.png');
}

.projectNode--3 {
  @extend .projectNode;
  background-image: url('/static/img/music-quiz.png');
}

.projectNode--4 {
  @extend .projectNode;
  background-image: url('/static/img/hot-or-cold.png');
}
