// projects
#projectsWrapper {
  background-color: #e3e3e3;
  padding: 1em 0 2em;
  text-align: center;
}

// project nodes
.projectNodes {
  @media all and (min-width: $thirdMedia) {
    margin: auto;
    width: 90%;
  }
}

.projectNode {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12em;
  margin: 2em auto;
  text-decoration: none;
  width: 80%;

  @media all and (min-width: $secondMedia) {
    display: inline-block;
    margin: 1em 4%;
    width: 40%
  }
}

.projectNode--1 {
  @extend .projectNode;
  background-image: url('/static/img/sax-lessons.png');
}

.projectNode--2 {
  @extend .projectNode;
  background-image: url('/static/img/twitter-visualization.png');
}

.projectNode--3 {
  @extend .projectNode;
  background-image: url('/static/img/music-theory-quiz.png');
}

.projectNode--4 {
  @extend .projectNode;
  background-image: url('/static/img/hot-or-cold.png');
}

.projectNode--5 {
  @extend .projectNode;
  background-image: url('/static/img/mylist.png');
  display: block;
  margin: auto;
}
