// skills
.stackWrapper {
  text-align: center;
  @media all and (min-width: $thirdMedia) {
    margin: auto;
  }
}

.block {
  border: 3px solid $fontColor;
  border-radius: 100%;
  display: block;
  height: $blockSize;
  transition: background 2s;
  width: $blockSize;
}

.skillInfo {
  color: #fff;
  display: none;
  position: absolute;
}

// frontend development stack
.frontendStack {
  margin: auto;
  width: $blockSize + 14em;

  @media all and (min-width: $thirdMedia) {
    display: inline-block;
  }
}

.frontendTitle {
  color: $fontColor;
  font: 3em $titleFont;
  margin: .8em 0 0 1.3em;
  opacity: .5;
  transform: rotate(45deg);
}

.htmlBlock {
  @extend .block;
  background: url('/static/img/html5-logo.png');
  background-size: 45px 60px;
  background-position: center;
  background-repeat: no-repeat;
  margin: -5.8em 0 0 0;
}

.cssBlock {
  @extend .block;
  background: url('/static/img/css3-logo.png');
  background-size: 45px 60px;
  background-position: center;
  background-repeat: no-repeat;
  margin: .3em 0 0 2.1em;
}

.jsBlock {
  @extend .block;
  background: url('/static/img/javascript-logo.png');
  background-size: 45px 60px;
  background-position: center;
  background-repeat: no-repeat;
  margin: -3.5em 0 0 9.4em;
}

.sassBlock {
  @extend .block;
  background: url('/static/img/sass-logo.png');
  background-position: 5px 5.3em;
  background-size: 60px 40px;
  background-repeat: no-repeat;
  border: 3px solid #c69;
  border-bottom-left-radius: 0;
  height: $blockSize + 3em;
  margin: -1em 0 0 2em;
  width: $blockSize + 3em;
}

.gruntBlock {
  @extend .block;
  background: url('/static/img/grunt-logo.png');
  background-position: 8.8em 0;
  background-size: 210px 140px;
  background-repeat: no-repeat;
  border: 3px dashed #453015;
  border-top-right-radius: 0;
  height: $blockSize + 14em;
  margin-bottom: 3em;
  padding: 32px;
  width: $blockSize + 14em;

  @media all and (min-width: $firstMedia) {
    background-position: 10em 0;
    padding: 38px;
  }

  @media all and (min-width: $secondMedia) {
    background-position: 11em 0;
    padding: 46px;
  }
}

// backend development stack
.backendStack {
  margin: auto;
  width: $blockSize + 14em;

  @media all and (min-width: $thirdMedia) {
    display: inline-block;
  }
}

.backendTitle {
  color: $fontColor;
  font: 3em $titleFont;
  margin: 1.5em 1em 0 0;
  opacity: .5;
  transform: rotate(-45deg);

  @media all and (min-width: $firstMedia) {
    margin: 1.1em 1.5em .4em -.7em;
  }

  @media all and (min-width: $thirdMedia) {
    margin: 1em 1.5em 0 -.7em;
  }
}

.pythonBlock {
  @extend .block;
  background: url('/static/img/python-logo.png');
  background-size: 55px 55px;
  background-position: center;
  background-repeat: no-repeat;
  height: $blockSize + 1em;
  position: relative;
  width: $blockSize + 1em;
  margin: -5.2em 0 0 9.5em;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
    font-size: 1.5em;
    left: .5em;
    top: 1.5em;
  }

  @media all and (min-width: $thirdMedia) {
    margin: -3.4em 0 0 9.5em;
  }
}

.webapp2Block {
  @extend .block;
  background: url('/static/img/webapp2-logo.png');
  background-size: 95px 25px;
  background-position: center;
  background-repeat: no-repeat;
  height: $blockSize + 1em;
  position: relative;
  width: $blockSize + 1em;
  margin: .1em 0 0 2.7em;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
    font-size: 1.3em;
    left: .2em;
    top: 1.8em;
  }
}

.jinjaBlock {
  @extend .block;
  background: url('/static/img/jinja-logo.png');
  background-size: 70px 30px;
  background-position: center;
  background-repeat: no-repeat;
  height: $blockSize;
  position: relative;
  width: $blockSize;
  margin: -6.5em 0 0 9.4em;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
    font-size: 1.3em;
    left: .6em;
    top: 1.4em;
  }
}

.gaeBlock {
  @extend .block;
  background-image: url('/static/img/appengine-logo.png');
  background-position: 22px 26px;
  background-size: 100px 85px;
  background-repeat: no-repeat;
  border-top-left-radius: 0;
  height: $blockSize + 14em;
  margin-bottom: 3em;
  padding: 32px;
  position: relative;
  width: $blockSize + 14em;
}

.gaeLink {
  border-bottom-right-radius: 45%;
  height: 8em;
  left: 0;
  position: absolute;
  top: 0;
  transition: background 2s;
  width: 8em;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
    font-size: 1.3em;
    left: 0;
    top: 1.8em;
  }
}
