// color scheme
$mainColor: #ff4b4b;
$mainColorDark: #be3535;
$mainColorOpposite: #3CCC3C;
$altColor: #FF9D4B;
$altColorOpposite: #2D9999;
$borderColor: #606060;
$fontColor: #505050;

// fonts
$titleFont: 'Righteous';
$sectionTitleFont: 'Lobster';
$devTitleFont: 'Rock Salt';

// header
$contactB: -280px;
$contactL: 160px;
$diamondSize: 150px;
$navButtonSize: 70px;

// skills
$blockSize: 5.5em;

// projects
$nodeSize: 10em;

// media queriy break points
$firstMedia: 500px;
$secondMedia: 768px;
$thirdMedia: 1080px;
