// color scheme
$mainColor: #ff4b4b;
$mainColorDark: #be3535;
$mainColorOpposite: #3CCC3C;
$altColor: #FF9D4B;
$altColorOpposite: #2D9999;
$borderColor: #9f9f9f;
$fontColor: #505050;

// fonts
$titleFont: 'Righteous';
$sectionTitleFont: 'Lobster';
$devTitleFont: 'Rock Salt';

// header
$contactB: -200px;
$contactL: 186px;

// skills
$blockSize: 5.5em;

// projects
$nodeSize: 15em;

// media queriy break points
$firstMedia: 500px;
$secondMedia: 768px;
$thirdMedia: 1080px;
