// color scheme
$mainColor: #ff4b4b;
$mainColorDark: #be3535;
$mainColorOpposite: #3CCC3C;
$altColor: #FF9D4B;
$altColorOpposite: #2D9999;
$borderColor: #606060;
$fontColor: #505050;

// fonts
$titleFont: 'Righteous';
$sectionTitleFont: 'Lobster';
$devTitleFont: 'Rock Salt';

// header
$navButtonSize: 5em;

// skills
$blockSize: 5.5em;
$fePosT: 3em;
$fePosL: 1.7em;
$bePosT: 5.1em;
$bePosR: .5em;

// projects
$nodeSize: 10em;

// media queriy break points
$firstMedia: 500px;
$secondMedia: 768px;
$thirdMedia: 1080px;
