// admin page styles
.admin {
  text-align: center;
}

.adminNav {
  color: $fontColor;
  font: 1.5em $blogEntryFont;
  margin: -2em auto 3em;
  padding: .5em 1em;

  a {
    color: $fontColor;
  }
}

.adminEntry {
  font: 1.5em $blogEntryFont;
  margin: .3em auto;
  width: 90%;

  span {
    display: inline-block;
    text-align: left;
    width: 400px;
  }

  a {
    color: $fontColor;
  }
}
