// footer
footer {
  background-color: #cbcbcb;
  margin-top: 5em;
  width: 100%;
}

.footer-content {
  color: $fontColor;
  font-size: .6em;
  padding: 10px 25px;

  a {
    color: $fontColor;
    transition: .5s;

    &:hover {
      color: $mainColor;
    }
  }

  @media all and (min-width: $firstMedia) {
    font-size: 100%;
  }
}
