// projects
#projects {
  background-color: #ebebeb;
  padding: 5em 0 1em;

  @media all and (min-width: $firstMedia) {
    padding: 5em 0;
  }
}

// project nodes
.project-nodes {
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  max-width: $maxWidth;

  li {
    display: inline-block;

    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
    width: 440px;
  }

  figure {
    margin: 0;
    overflow: hidden;
    position: relative;
  }

  figure img {
    max-width: 100%;
    display: block;
    position: relative;
    transition: transform 0.4s;
  }

  figure:hover img {
    transform: translateY(-50px);
  }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e;
    height: 80px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.4s, opacity 0.1s 0.3s;
  }

  figure:hover figcaption {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s;
  }

  figcaption h4 {
    color: $mainColor;
    font: 1.5em $titleFont;
    margin: 0;
    padding: 0;
  }

  figcaption a {
    color: #fff;
    background: $mainColor;
    border: 2px solid $mainColor;
    border-radius: 2px;
    font-size: 90%;
    padding: 5px 10px;
    text-align: center;
    transition: .5s;
    position: absolute;
    bottom: 20px;
    width: 7em;

    &:hover {
      border-color: #fff;
    }

    @media all and (min-width: $firstMedia) {
      font-size: 100%;
    }
  }

  figcaption a:nth-child(1) {
    right: 20px;
  }

  figcaption a:nth-child(2) {
    left: 20px;
  }

  @media screen and (max-width: 31.5em) {
    padding: 10px 10px 100px 10px;

    li {
      width: 100%;
      min-width: 300px;
    }
  }
}
