// main styles
#skillsWrapper {
  padding: 2em 0;
}

.stackWrapper {
  text-align: center;
}

.block {
  border: 3px solid $fontColor;
  border-radius: 100%;
  display: block;
  font: 1em $titleFont;
  height: $blockSize;
  text-decoration: none;
  transition: background 1s ease-in-out;
  width: $blockSize;
}

.skillInfo {
  color: #fff;
  display: none;
  padding-top: 40%;
  text-align: center;
}

// frontend development stack
.frontendStack {
  margin: auto;
  position: relative;
  width: $blockSize + 14em;
  vertical-align: top;

  @media all and (min-width: $maxWidth) {
    display: inline-block;
  }
}

.frontendTitle {
  color: $fontColor;
  font: 3em $titleFont;
  opacity: .5;
  position: absolute;
  right: .4em;
  top: 1.8em;
  transform: rotate(45deg);
}

.htmlBlock {
  @extend .block;
  background: url('/static/img/html5-logo.png');
  background-size: 45px 60px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: $fePosT;
  left: $fePosL;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
  }
}

.cssBlock {
  @extend .block;
  background: url('/static/img/css3-logo.png');
  background-size: 45px 60px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: $fePosT + 4.6;
  left: $fePosL + 4.6;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
  }
}

.jsBlock {
  @extend .block;
  background: url('/static/img/javascript-logo.png');
  background-size: 45px 60px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: $fePosT + 9.4;
  left: $fePosL + 9.4;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
  }
}

.sassBlock {
  @extend .block;
  background: url('/static/img/sass-logo.png');
  background-position: 5px 5.3em;
  background-size: 60px 40px;
  background-repeat: no-repeat;
  border: 3px solid #c69;
  border-bottom-left-radius: 0;
  height: $blockSize + 2.5em;
  left: $fePosL + 2.7;
  position: absolute;
  top: $fePosT + 4.2;
  width: $blockSize + 2.5em;
}

.sassLink {
  border-top-right-radius: 45%;
  bottom: 0;
  height: 3em;
  left: 0;
  position: absolute;
  transition: background 2s;
  text-decoration: none;
  width: 3em;
}

.gruntBlock {
  @extend .block;
  background: url('/static/img/grunt-logo.png');
  background-position: 8.8em 0;
  background-size: 210px 140px;
  background-repeat: no-repeat;
  border: 3px dashed #453015;
  border-top-right-radius: 0;
  height: $blockSize + 14em;
  margin-bottom: 3em;
  width: $blockSize + 14em;

  @media all and (min-width: $firstMedia) {
    background-position: 10em 0;
  }

  @media all and (min-width: $secondMedia) {
    background-position: 11em 0;
  }
}

.gruntLink {
  border-bottom-left-radius: 60%;
  height: 8em;
  position: absolute;
  top: 0;
  transition: background 2s;
  text-decoration: none;
  right: 0;
  width: 8em;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
  }
}

// backend development stack
.backendStack {
  margin: auto;
  width: $blockSize + 14em;
  vertical-align: top;

  @media all and (min-width: $maxWidth) {
    display: inline-block;
  }
}

.backendTitle {
  color: $fontColor;
  font: 3em $titleFont;
  left: .6em;
  opacity: .5;
  position: absolute;
  top: 1.9em;
  transform: rotate(-45deg);
}

.pythonBlock {
  @extend .block;
  background: url('/static/img/python-logo.png');
  background-size: 55px 55px;
  background-position: center;
  background-repeat: no-repeat;
  height: $blockSize + 1em;
  position: absolute;
  right: $bePosR;
  top: $bePosT;
  width: $blockSize + 1em;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
  }
}

.webapp2Block {
  @extend .block;
  background: url('/static/img/webapp2-logo.png');
  background-size: 75px 18px;
  background-position: center;
  background-repeat: no-repeat;
  height: $blockSize + 1em;
  width: $blockSize + 1em;
  position: absolute;
  right: $bePosR + 7.2;
  top: $bePosT + 7;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
  }
}

.jinjaBlock {
  @extend .block;
  background: url('/static/img/jinja-logo.png');
  background-size: 70px 30px;
  background-position: center;
  background-repeat: no-repeat;
  height: $blockSize;
  position: absolute;
  right: $bePosR + 1.7;
  top: $bePosT + 6.5;
  width: $blockSize;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
  }
}

.gaeBlock {
  @extend .block;
  background-image: url('/static/img/appengine-logo.png');
  background-position: 22px 26px;
  background-size: 100px 85px;
  background-repeat: no-repeat;
  border-top-left-radius: 0;
  height: $blockSize + 14em;
  margin-bottom: 3em;
  position: relative;
  width: $blockSize + 14em;
}

.gaeLink {
  border-bottom-right-radius: 60%;
  height: 8em;
  left: 0;
  position: absolute;
  text-decoration: none;
  top: 0;
  transition: background 2s;
  width: 8em;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
  }
}

// other tech
.otherTechWrapper {
  text-align: center;
}

.nginxBlock {
  @extend .block;
  background: url('/static/img/nginx-logo.png');
  background-size: 45px 45px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin: 1em;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
  }
}

.flaskBlock {
  @extend .block;
  background: url('/static/img/flask-logo.png');
  background-size: 45px 45px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin: 1em;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
  }
}

.djangoBlock {
  @extend .block;
  background: url('/static/img/django-logo.png');
  background-size: 75px 75px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin: 1em;

  &:hover {
    background: $fontColor;
  }
  &:hover .skillInfo {
    display: block;
  }
}
