{% extends "src/templates/base.html" %}

{% block content %}

<section class="introduction clearfix">
  <div class="main">
    <img class="headshot" src="assets/images/alex-2016-03-13-square-180px.jpg" alt="Alex Baker">
    <div class="about-section">
      <div class="about-title">Welcome to my portfolio site!</div> I’m a <strong>full stack web developer</strong> and <a href="http://www.alexbakersax.com" target="_blank">musician</a>. You can see some <a href="/projects">projects</a> I've worked on or check out the <a href="/blog">blog</a> for my latest thoughts on tech. I’m always interested in working on exciting projects, so feel free to <a href="mailto:hello@alexbaker.io">contact</a> me if you want to talk!
    </div>
    <div class="about-section">
      <div class="about-title">What I do.</div>
      I like to create solutions. I primarily use <strong>Python</strong> and <strong>Javascript</strong> but really I'm language agnostic. I believe in finding the best technology for the job and I have no issues with picking up something new. Here is a list of technologies I'm comfortable using:
    </div>
    <table class="tech-container">
      <tr>
        <th>Languages</th>
        <th>Tools</th>
        <th>Techniques</th>
      </tr>
      <tr>
        <td>Python</td>
        <td>Grunt</td>
        <td>Responsive Design</td>
      </tr>
      <tr>
        <td>Javascript</td>
        <td>Git</td>
        <td>Version Control</td>
      </tr>
      <tr>
        <td>SASS/CSS</td>
        <td>Flask</td>
        <td>TDD</td>
      </tr>
      <tr>
        <td>HTML5</td>
        <td>Nginx</td>
        <td></td>
      </tr>
      <tr>
        <td>SQL</td>
        <td>NPM</td>
        <td></td>
      </tr>
    </table>
  </div>
</section>

{% endblock %}
