{% extends "src/templates/base.html" %}

{% block content %}

<section class="introduction clearfix">
  <div class="main">
    <h1>About</h1>
    <img class="headshot" src="assets/images/alex-baker-headshot.webp" alt="Alex Baker">
    <div class="about-section">
      <h2>Alex Baker</h2>
      <p class="about-content">
        Alex is a <strong>software developer</strong> and <strong>musician</strong> with a strong passion for creative problem solving. With years of experience developing and deploying applications, he is comfortable working with both backend and front end technologies, maintaining remote servers and working with dynamic teams to build excellent products.
      </p>
    </div>
    <table class="tech-container">
      <tr>
        <th>Languages</th>
        <th>Frameworks</th>
        <th>Techniques</th>
      </tr>
      <tr>
        <td>PHP</td>
        <td>Wordpress</td>
        <td>Responsive Design</td>
      </tr>
      <tr>
        <td>Python</td>
        <td>Magento</td>
        <td>Mobile First</td>
      </tr>
      <tr>
        <td>Javascript</td>
        <td>Flask</td>
        <td>Version Control</td>
      </tr>
      <tr>
        <td>SASS/CSS</td>
        <td>CherryPy</td>
        <td>TDD</td>
      </tr>
      <tr>
        <td>HTML5</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>SQL</td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</section>

{% endblock %}
