{% extends "src/templates/base.html" %}

{% block content %}

<div class="main">
  <h1>Contact</h1>
  <p>
    Name: Alex Baker
  </p>
  <p>
    Email: <a href="mailto:hello@alexbaker.io">hello@alexbaker.io</a>
  </p>
  <h2>Links</h2>
  <ul>
    <li><a href="https://www.linkedin.com/in/alexbakerio">https://www.linkedin.com/in/alexbakerio</a></li>
    <li><a href="https://github.com/ab7">https://github.com/ab7</a></li>
    <li><a href="https://twitter.com/alexbakerio">https://twitter.com/alexbakerio</a></li>
    <li><a href="https://angel.co/alexbaker">https://angel.co/alexbaker</a></li>
    <li><a href="https://plus.google.com/116483157797299917604">https://plus.google.com/116483157797299917604</a></li>
  </ul>
</div>

{% endblock %}
