{% extends "src/templates/base.html" %}

{% block content %}

<div class="index-content">
  <div class="main">
    <h1>Latest Posts</h1>
    <ul class="posts">
      {% for post in posts %}
        <li class="post-item">
          <div class="post-item__left">
            <a href="{{post.slug}}">
              <img src="assets/images/{{post.image}}" alt="Post image">
            </a>
          </div>
          <div class="post-item__right">
            <div class="post-item__right-title">
              <a href="{{post.slug}}">
                <h2>{{post.title}}</h2>
              </a>
            </div>
            <div class="post-item__right-snippet">
              {{post.snippet}} <a href="{{post.slug}}">More...</a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
