{% extends "src/templates/base.html" %}

{% block content %}

<section class="main">
  <h1>Portfolio</h1>
  <ul class="project-nodes">
    <li>
      <h4>rbhomes</h4>
      <figure>
        <img src="assets/images/rbhomesco.png" alt="rbhomes real estate website">
        <figcaption>
          <a href="http://www.rbhomes.co" target="_blank">Take a look</a>
        </figcaption>
      </figure>
      <div class="techs">HTML, CSS, SASS, Grunt, jQuery</div><br>
    </li>
    <li>
      <h4>Saxophone Lessons</h4>
      <figure>
        <img src="assets/images/sax-lessons.png" alt="Saxophone Lessons">
        <figcaption>
          <a href="http://www.alexbakersax.com" target="_blank">Take a look</a>
          <a href="https://github.com/ab7/sax-lessons" target="_blank">Source</a>
        </figcaption>
      </figure>
      <div class="techs">HTML, CSS, SASS, Grunt, jQuery, Python, Webapp2, Jinja2, Google App Engine</div>
    </li>
    <li>
      <h4>Twitter Visualization</h4>
      <figure>
        <img src="assets/images/twitter-visualization.png" alt="Twitter Visualation">
        <figcaption>
          <a href="https://api-hack.appspot.com" target="_blank">Take a look</a>
          <a href="https://github.com/ab7/tweet-location-visualization" target="_blank">Source</a>
        </figcaption>
      </figure>
      <div class="techs">HTML, CSS, jQuery, AJAX, Python, Twitter API, Google Maps API, Geonames API</div>
    </li>
    <li>
      <h4>Hot or Cold game</h4>
      <figure>
        <img src="assets/images/hot-or-cold.png" alt="Hot or cold number game">
        <figcaption>
          <a href="https://ab7.github.io/hot-or-cold" target="_blank">Take a look</a>
          <a href="https://github.com/ab7/hot-or-cold" target="_blank">Source</a>
        </figcaption>
      </figure>
      <div class="techs">HTML, CSS, jQuery</div><br>
    </li>
    <li>
      <h4>Todo List App</h4>
      <figure>
        <img src="assets/images/mylist.png" alt="Mylist list making app">
        <figcaption>
          <a href="https://ab7.github.io/mylist" target="_blank">Take a look</a>
          <a href="https://github.com/ab7/mylist" target="_blank">Source</a>
        </figcaption>
      </figure>
      <div class="techs">HTML, CSS, jQuery</div>
    </li>
    <li>
      <h4>Music Theory Quiz</h4>
      <figure>
        <img src="assets/images/music-theory-quiz.png "alt="Music Theory Quiz">
        <figcaption>
          <a href="https://ab7.github.io/music-theory-quiz" target="_blank">Take a look</a>
          <a href="https://github.com/ab7/music-theory-quiz" target="_blank">Source</a>
        </figcaption>
      </figure>
      <div class="techs">HTML, CSS, jQuery</div>
    </li>
  </ul>
</section>

{% endblock %}
