// color scheme
$mainColor: #BD10E0;
$mainColorDark: #be3535;
$mainColorOpposite: #3CCC3C;
$altColor: #FF9D4B;
$altColorOpposite: #2D9999;
$borderColor: #e0e0e0;
$fontColor: #505050;

// fonts
$titleFont: 'bebas_neueregular';
$contentFont: 'Source Sans Pro';

// media queriy break points
$firstMedia: 640px;
$secondMedia: 768px;
$maxWidth: 1170px;

// global styles
html {
  height: 100%;
}

body {
  font-family: $contentFont;
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 13em;
}

.main {
  margin: 0 auto;
  max-width: $maxWidth;
  padding: 0 3%;
  width: 100%;

  @media all and (min-width: $firstMedia) {
    padding: 0 6%;
  }
}

// global fonts
.section-title {
  color: $mainColor;
  font: 2.5em $titleFont;
  margin: 0 auto;
  padding: 0 6%;
  max-width: $maxWidth;

  @media all and (min-width: $firstMedia) {
    font-size: 3.5em;
  }
}

h4 {
  color: $fontColor;
  font-size: 1.5em;
  margin: 0;

  @media all and (min-width: $firstMedia) {
    font-size: 2em;
  }
}
