// blog splash page
.blog-main {
  background-image: linear-gradient(to bottom, #d1d1d1 0%, #fff 100%);
  color: $fontColor;
  text-align: center;

  img {
    opacity: .6;
    max-width: 100px;
    padding: 3em 0 1em;
    width: 15%;
  }
}

.post {
  text-align: left;
  margin: auto;
  max-width: $maxWidth - 244px;
  padding: 1em;

  h1 {
    color: $mainColor;
  }

  a {
    color: $fontColor;
    transition: .5s;

    &:hover {
      color: $mainColor;
    }
  }

  @media all and (min-width: $firstMedia) {
    font-size: 150%;
  }
}

.date {
  opacity: .7;
}
