// custom fonts
@font-face {
  font-family: 'primetimeregular';
  src: url('/static/fonts/primetime-webfont.eot');
  src: url('/static/fonts/primetime-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/primetime-webfont.woff2') format('woff2'),
       url('/static/fonts/primetime-webfont.woff') format('woff'),
       url('/static/fonts/primetime-webfont.ttf') format('truetype'),
       url('/static/fonts/primetime-webfont.svg#primetimeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
