// footer
footer {
  background: rgba(113,88,189,1);
  background: -moz-linear-gradient(left, rgba(113,88,189,1) 0%, rgba(174,52,162,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(113,88,189,1)), color-stop(100%, rgba(174,52,162,1)));
  background: -webkit-linear-gradient(left, rgba(113,88,189,1) 0%, rgba(174,52,162,1) 100%);
  background: -o-linear-gradient(left, rgba(113,88,189,1) 0%, rgba(174,52,162,1) 100%);
  background: -ms-linear-gradient(left, rgba(113,88,189,1) 0%, rgba(174,52,162,1) 100%);
  background: linear-gradient(to right, rgba(113,88,189,1) 0%, rgba(174,52,162,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7158bd', endColorstr='#ae34a2', GradientType=1 );
  margin-top: 5em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;

  .footer-content {
    color: #fff;
    font-size: .6em;

    a {
      color: #fff;
      transition: .5s;
    }

    @media all and (min-width: $firstMedia) {
      font-size: 100%;
    }
  }

  // social links
  .social {
    margin: 2em auto 1em;
    text-align: center;

    a {
      text-decoration: none;

      i {
        color: #fff;
        font-size: 32px;
        margin: 0 15px;
      }
    }
  }

  @media all and (min-width: $firstMedia) {
    .social {
      margin-bottom: 0;

      a {
        i {
          font-size: 50px;
        }
      }
    }
  }
}
