// footer
footer {
  background: #f31212;
  background: -moz-linear-gradient(left, #f31212 0%, #f16f4f 100%);
  background: -webkit-linear-gradient(left, #f31212 0%,#f16f4f 100%);
  background: linear-gradient(to right, #f31212 0%,#f16f4f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f31212', endColorstr='#f16f4f',GradientType=1 );
  margin-top: 5em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;

  .footer-content {
    color: #fff;
    font-size: .6em;

    a {
      color: #fff;
      transition: .5s;
    }

    @media all and (min-width: $firstMedia) {
      font-size: 100%;
    }
  }

  // social links
  .social {
    margin: 2em auto 1em;
    text-align: center;

    a {
      text-decoration: none;

      i {
        color: #fff;
        font-size: 32px;
        margin: 0 15px;
      }
    }
  }

  @media all and (min-width: $firstMedia) {
    .social {
      margin-bottom: 0;

      a {
        i {
          font-size: 50px;
        }
      }
    }
  }
}
