// general header styles
header {
  display: none;
  position: relative;

  // Destop menu
  .nav-normal {
    background-color: #fff;
    padding: 10px;
    width: 100%;
    z-index: 1;

    #main-nav {
      padding: 0;

      .nav-link {
        display: inline-block;
        font: 19px $titleFont;
        margin: .6em 10% .6em 0;
        text-align: center;
        transition: .5s;
        vertical-align: bottom;

        a {
          color: $mainColor;
          text-decoration: none;
        }
      }

      .logo-link {
        .logo {
          margin-bottom: -3px;
          width: 5em;
        }
      }
    }
  }

  .nav-sticky {
    bottom: auto;
    position: fixed;
    top: 0;
  }

  @media all and (min-width: $secondMedia) {
    display: block;
  }
}

// Mobile menu
.slicknav_menu {
  background: #fff;
  margin: auto;
  padding: 20px 0 30px;
  width: 90%;

  .slicknav_brand {
    padding: 7px 0;

    .mobile-logo {
      width: 65px;
    }
  }

  .slicknav_btn {
    background: #fff;
    border-radius: 0;
    margin: 10px 0 0 10px;
  }

  .slicknav_icon-bar {
    background: $mainColor;
    width: 23px;
    height: 4px;
  }

  .slicknav_icon {
    width: initial;
    height: initial;
  }

  .slicknav_nav {
    padding-top: 25px;

    .logo-link {
      display: none;
    }

    .nav-link {
      border-bottom: 1px solid $borderColor;

      a {
        border-radius: 0;
        color: $mainColor;
        font: 19px $titleFont;
        padding: 15px;
      }
    }
  }

  @media all and (min-width: $secondMedia) {
    display: none;
  }
}
