.main {
  .back-link {
    margin-bottom: 1.5em;

    a {
      text-decoration: none;

      i {
        font-size: 12px;
        margin-right: 5px;
      }
    }
  }
  .post {
    h1 {
      color: $mainColor;
    }

    a {
      transition: .5s;
    }

    pre {
      color: $preColor;
      background-color: $preBackgroundColor;
    }

    @media all and (min-width: $firstMedia) {
      font-size: 140%;
    }
  }
}

