{% extends 'base.html' %}

{% block main %}
  <div id="top">
    <header>
      <div class="main clearfix">
        <img class="headshot" src="static/img/alex_baker.png" alt="Alex Baker">
        <img class="logo-big" src="static/img/alex-baker-logo.png" alt="Alex Baker's logo">
      </div>
      <nav class="nav-normal clearfix">
        <div class="main">
          <div class="nav-name">
            <a class="top-link" href="#top">
              <img class="logo-small" src="static/img/alex-baker-logo-sm.png" alt="Alex Baker's logo">
            </a>
          </div>
          <a class="nav-link" href="#projects">Projects</a>
          <a class="nav-link" href="#contact">Contact</a>
          <a class="nav-link" href="/blog">Blog</a>
          <a class="nav-link-resume" href="/static/Alex_Baker_Resume.pdf" target="_blank">Resume</a>
        </div>
      </nav>
    </header>
    <div class="introduction">
      <div class="introBK"></div>
      <div class="hello">
        Hello!
      </div>
      <div class="intro">
        <div class="welcome">Welcome to my portfolio site!</div> I’m a <strong>full stack web developer</strong> and <a href="//www.alexbakersax.com" target="_blank">musician</a>. You can check out some my side <a href="#projects">projects</a>  below. Check out the <a href="/blog">blog</a> for my latest thoughts on tech. I’m always interested in working on exciting projects, so feel free to <a href="#contact">contact</a> me if you want to talk!
      </div>
    </div>
  </div>
  <div id="projects">
    <h3 class="section-title">Projects</h3>
    <ul class="project-nodes">
      <li>
        <figure>
          <img src="static/img/rbhomesco.png" alt="rbhomes real estate website">
          <figcaption>
            <a href="//www.rbhomes.co" target="_blank">Take a look</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="static/img/sax-lessons.png" alt="Saxophone Lessons">
          <figcaption>
            <a href="//www.alexbakersax.com" target="_blank">Take a look</a>
            <a href="//github.com/ab7/sax-lessons" target="_blank">Source</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="static/img/twitter-visualization.png" alt="Twitter Visualation">
          <figcaption>
            <a href="//api-hack.appspot.com" target="_blank">Take a look</a>
            <a href="//github.com/ab7/tweet-location-visualization" target="_blank">Source</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="static/img/hot-or-cold.png" alt="Hot or cold number game">
          <figcaption>
            <a href="//ab7.github.io/hot-or-cold" target="_blank">Take a look</a>
            <a href="//github.com/ab7/hot-or-cold" target="_blank">Source</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="static/img/mylist.png" alt="Mylist list making app">
          <figcaption>
            <a href="//ab7.github.io/mylist" target="_blank">Take a look</a>
            <a href="//github.com/ab7/mylist" target="_blank">Source</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="static/img/music-theory-quiz.png "alt="Music Theory Quiz">
          <figcaption>
            <a href="//ab7.github.io/music-theory-quiz" target="_blank">Take a look</a>
            <a href="//github.com/ab7/music-theory-quiz" target="_blank">Source</a>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
  <div id="contact">
    <h3 class="section-title">Contact</h3>
    <a class="email" href="mailto:hello@alexbaker.io">hello@alexbaker.io</a>
    <div class="social">
      <a href="//github.com/ab7" target="_blank">
        <img class="social-link" src=static/img/github-logo.png alt=github logo>
      </a>
      <a href="//plus.google.com/u/0/116483157797299917604/posts" target="_blank">
        <img class="social-link" src="static/img/google-plus-logo.png" alt="google" plus logo>
      </a>
      <a href="//twitter.com/alexbakerio" target="_blank">
        <img class="social-link" src="static/img/twitter-logo.png" alt="twitter" logo>
      </a>
      <a  href="//www.linkedin.com/in/alexbakerio" target="_blank">
        <img class="social-link" src="static/img/linkedin-logo.png" alt="linkedin" logo>
      </a>
    </div>
    <footer class="clearfix">
      <p class="footer-content float-left">Copyright © 2015 Alex Baker</p>
      <p class="footer-content float-right">Site source <a href="//github.com/ab7/alexbakerio" target="_blank">here</a>.</p>
    </footer>
  </div>
{% endblock %}
